streamlit
pdfplumber
faiss-cpu
sentence-transformers
google-generativeai
numpy
requests
gTTS
SpeechRecognition
streamlit-lottie
pyttsx3; platform_system=="Windows"
google-generativeai
streamlit-audio-recorder>=0.1.6
soundfile>=0.12.1
SpeechRecognition>=3.8.1
