# requirements.txt
streamlit
pdfplumber
faiss-cpu
sentence-transformers
google-generativeai
numpy
requests
gTTS
SpeechRecognition>=3.8.1
streamlit-lottie
pyttsx3; platform_system=="Windows"
audio-recorder-streamlit==0.0.10
soundfile>=0.12.1
pydub
