streamlit
pdfplumber
faiss-cpu
sentence-transformers
google-generativeai
numpy
requests
gTTS
SpeechRecognition
streamlit-lottie
pyttsx3; platform_system=="Windows"
google-generativeai
audio-recorder-streamlit==0.0.10
soundfile>=0.12.1
SpeechRecognition>=3.8.1
